body {  /*entire page color and text color*/
    background-color: rgb(65, 50, 88);
    color:rgb(11, 156, 156);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20vh;
    margin-top:150px;
    
}

h1 { /*for Stop Watch title*/
    color:rgb(11, 156, 156);
    font-size: 350%;
    text-align: center;
    margin-bottom: 30px;
    margin-top:15px;
}

#time { /*for the display of the timer*/
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 10%;
    border: solid rgb(11, 156, 156);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 300%;
}

#buttons { 
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.button { /*to style the buttons*/
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: grab;
    background-color: rgb(11, 156, 156);
    color: rgb(65, 50, 88);
    

}

.container-fluid{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 5%;
    margin: 10%;
    border: solid rgb(11, 156, 156);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 150%;
}
